:root
  // --brightness: #FFFFFF;
  // --darkness: #212121;

  // --primary: #FF0099;
  // --primary-light: #ff00cc;
  // --secondary: #00A8A9;

  // --snow: #EEE;
  // --dark-snow: #959595;
  // --darker-snow: #626262;

  // // LightMode
  // --background-primary: #e2e8f0; // (darkest) more distant element
  // --background-secondary: #f7fafb;
  // --background-third: #fefefe;

  // --light-text: #4a5568;

  // // DarkMode
  // --background-primary: #212121; // more distant element
  // --background-secondary: #121212;
  // --grey-depth: #4e4e4e;
  // --grey-depth-darker: #393939;
  // --dark-blue: #1D2671;

  // --dark-text: #fefefe;


brightness = #FFFFFF
darkness = #212121

// dark-background-primary = darkness;
// dark-background-secondary = #121212; //#181818;
// grey-depth = #4e4e4e;
// grey-depth-darker = #393939;

primary = #FF0099
primary-light = #ff00cc
secondary = #00A8A9

snow = #EEE
dark-snow = #959595
darker-snow = #626262

// LightMode
light-background-primary = #e2e4e9 // (darkest) more distant element
light-background-secondary = #f0f2f4
light-background-third = #fefefe

light-text = #4a5568

// DarkMode
dark-background-primary = #121212; // more distant element
dark-background-secondary = #212121;
dark-background-third = #282828
grey-depth-darker = #343434;
grey-depth = #4e4e4e;
dark-blue = #1D2671

dark-text = dark-snow

gradient-first = #333399
gradient-second = #663399
gradient-third = #990099
gradient-forth = #CC0099
