html {
  box-sizing: border-box;
/* Nicer looking fonts for OS X and iOS */
  -webkit-font-smoothing: antialiased;
}
* {
/* Later browsers can be more easily reset with `all: unset`. It's commented out by default here as it's pretty heavy handed. However, further declarations on these elements follow for older browsers. If you uncomment this property/value REMEMBER accessibility for outlines etc. This undoes a LOT of default UA styling, use with EXTREME caution!! */
/* all: unset; */
/* This prevents users being able to select text. Stops long presses in iOS bringing up copy/paste UI for example. Note below we specifically switch user-select on for inputs for the sake of Safari. Bug here: https://bugs.webkit.org/show_bug.cgi?id=82692 */
/* user-select: none; */
/* This gets -webkit specific prefix as it is a non W3C property */
  -webkit-tap-highlight-color: rgba(255,255,255,0);
/* Older Androids need this instead */
  -webkit-tap-highlight-color: transparent;
/* Most devs find border-box easier to reason about. However by inheriting we can mix box-sizing approaches. */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*::before,
*::after {
  box-sizing: border-box;
}
input[type],
[contenteditable] {
  user-select: text;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
/* We will be adding our own margin to these elements as needed. */
  margin: 0;
/* You'll want to set font-size as needed. */
  font-size: 1rem;
/* No bold for h tags unless you want it */
  font-weight: 400;
}
base,
basefont,
datalist,
head,
meta,
script,
style,
title,
noembed,
param,
template {
  display: none;
}
a {
  text-decoration: none;
  color: inherit;
}
b {
  font-weight: 400;
}
em,
i,
address {
  font-style: normal;
}
button {
  appearance: none;
  background-color: transparent;
  border: 0;
  padding: 0;
  font-family: inherit;
}
a:focus,
button:focus {
  outline: 0;
}
pre {
  white-space: normal;
}
input,
fieldset {
  border: 0;
  padding: 0;
  margin: 0;
/* inputs and fieldset defaults to having a min-width equal to its content in Chrome and Firefox (https://code.google.com/p/chromium/issues/detail?id=560762), we may not want that */
  min-width: 0;
/* Reset the font size and family */
  font-size: 1rem;
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
input:focus {
  outline: 0;
}
input[type="number"] {
/* Mozilla shows the spinner UI on number inputs unless we use this: */
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
}
svg {
  display: block;
}
img {
/* Make images behave responsively. Here they will scale up to 100% of their natural size */
  max-width: 100%;
/* Make images display as a block (UA default is usually inline) */
  display: block;
}
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #212121;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
}
:root {
  --ON: initial;
  --OFF: ;
}
.theme-default,
.theme-light {
  --light: var(--ON);
  --dark: var(--OFF);
}
.theme-dark {
  --light: var(--OFF);
  --dark: var(--ON);
}
@media (prefers-color-scheme: dark) {
  .theme-default {
    --light: var(--OFF);
    --dark: var(--ON);
  }
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  src: url("../media/fonts/Inter-VariableFont_slnt,wght.ttf");
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Inter', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 16px;
  overflow-x: hidden;
  line-height: 1.75;
}
body {
  background-color: var(--light, #fefefe) var(--dark, #212121);
  color: var(--light, #4a5568) var(--dark, #959595);
  transition: background-color 300ms ease;
}
.page-wrapper {
  position: relative;
  padding-bottom: 30px;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}
@media (max-width: 1024px) {
  .page-wrapper {
    padding: 0 20px 20px;
  }
}
.page-wrapper > * {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
}
.page-header {
  position: sticky;
  top: 0;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  column-gap: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: var(--light, #f0f2f4) var(--dark, #282828);
  z-index: 1;
}
.page-header::before {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  width: 100vw;
  height: 100%;
  background-color: var(--light, #f0f2f4) var(--dark, #282828);
  transform: translateX(-50%);
  z-index: -1;
}
.page-header::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 50%;
  width: 100vw;
  height: 3px;
  background-color: #f09;
  background-image: linear-gradient(to left, #cff, #69f, #339, #93f, #f09);
  background-size: 100% 3px;
  transform: translateX(-50%);
}
@media (max-width: 1024px) {
  .page-header {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 568px) {
  .page-header {
    justify-content: center;
  }
}
.page-content {
  display: flex;
  gap: 25px;
  min-height: 80vh;
  padding: 30px 0;
  border-radius: 20px;
}
@media (max-width: 568px) {
  .page-content {
    display: block;
  }
}
.page-footer {
  background-color: var(--light, #f0f2f4) var(--dark, #282828);
  height: 176px;
}
nav-categories > .list .item {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: all 300ms ease-in-out;
}
nav-categories :not(:defined) > .list .item {
  opacity: 0;
  visibility: hidden;
  transform: scale(0);
}
button,
.btn {
  cursor: pointer;
}
.text,
p,
span {
  column-count: 2;
  color: inherit;
  font-family: inherit;
  transition: color 200ms ease;
}
a,
.link {
  transition: color 200ms ease;
}
.title {
  margin-block-end: 0.5rem;
  color: var(--light, #212121) var(--dark, #eee);
  font-size: 26px;
  font-weight: var(--light, 900) var(--dark, 800);
  transition: all 200ms ease;
}
.page-title {
  margin-bottom: 1rem;
  padding: 0 0 5px 0;
  color: var(--light, #212121) var(--dark, #eee);
  font-size: 32px;
  font-weight: var(--light, 900) var(--dark, 800);
  transition: all 200ms ease;
}
@media (max-width: 568px) {
  .page-title {
    margin-bottom: 12px;
  }
}
@media (max-width: 568px) {
  .logo {
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .page-header > .search {
    flex: 1 auto;
    margin-left: 1rem;
  }
}
@media (max-width: 568px) {
  .page-header > .search {
    display: none;
  }
}
.form-search {
  position: relative;
  display: flex;
}
.form-search > .input {
  width: 100%;
  height: 30px;
  padding: 0 0.8rem;
  background-color: var(--light, #fefefe) var(--dark, #121212);
  border: none;
  border-radius: 30px;
  color: var(--light, #f09) var(--dark, #00a8a9);
  transition: all 200ms ease;
}
.form-search > .btn-search {
  position: absolute;
  right: 7px;
  top: 4px;
}
.form-search > .btn-search img {
  width: 25px;
}
.toggle-theme {
  display: flex;
  align-items: center;
  justify-content: center;
}
.toggle-theme > .btn-togglemode {
  filter: var(--light, none) var(--dark, brightness(0.5) grayscale(1));
  transition: filter 200ms ease;
}
.toggle-theme > .btn-togglemode img {
  width: 33px;
}
.navigation {
  margin-left: auto;
}
@media (max-width: 568px) {
  .page-header > .navigation {
    flex: 0;
    order: -1;
  }
}
.navigation > .list {
  display: flex;
  align-items: center;
  gap: 0 30px;
  color: var(--light, #4a5568) var(--dark, #959595);
  font-weight: 700;
}
.navigation .item:hover > a {
  color: var(--light, #f09) var(--dark, #00a8a9);
}
.breadcrumb {
  padding-top: 24px;
}
.breadcrumb > .list {
  display: flex;
  align-items: center;
  font-size: 14px;
}
.breadcrumb .item.separator {
  padding: 0 4px;
}
.breadcrumb .item.separator .text {
  color: inherit;
}
.breadcrumb-text {
  color: #f09;
}
.breadcrumb-link {
  color: #00a8a9;
}
.sidebar {
  flex: 0 1 30%;
  padding: 1rem 1.75rem;
  background-color: var(--light, #f0f2f4) var(--dark, #282828);
}
@media (max-width: 568px) {
  .sidebar {
    margin-bottom: 20px;
  }
}
.content {
  flex: 1 1 auto;
  padding: 1rem 1.75rem;
  background-color: var(--light, #f0f2f4) var(--dark, #282828);
}
.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 2vw;
}
@media (max-width: 568px) {
  .toolbar {
    margin-bottom: 50px;
  }
}
.toolbar > .modes {
  display: flex;
  align-items: center;
}
@media (max-width: 568px) {
  .toolbar > .modes {
    display: none;
  }
}
.toolbar > .modes .btn {
  color: #f09;
}
.toolbar > .modes .ico {
  color: inherit;
}
.toolbar > .modes .ico-grid {
  width: 20px;
  height: 20px;
}
.toolbar > .modes .ico-list {
  width: 40px;
  height: 40px;
}
.list .toolbar .btn-grid,
.grid .toolbar .btn-list {
  color: #00a8a9;
}
.grid .toolbar .btn-grid,
.list .toolbar .btn-list {
  cursor: default;
}
