html {
  box-sizing: border-box;
/* Nicer looking fonts for OS X and iOS */
  -webkit-font-smoothing: antialiased;
}
* {
/* Later browsers can be more easily reset with `all: unset`. It's commented out by default here as it's pretty heavy handed. However, further declarations on these elements follow for older browsers. If you uncomment this property/value REMEMBER accessibility for outlines etc. This undoes a LOT of default UA styling, use with EXTREME caution!! */
/* all: unset; */
/* This prevents users being able to select text. Stops long presses in iOS bringing up copy/paste UI for example. Note below we specifically switch user-select on for inputs for the sake of Safari. Bug here: https://bugs.webkit.org/show_bug.cgi?id=82692 */
/* user-select: none; */
/* This gets -webkit specific prefix as it is a non W3C property */
  -webkit-tap-highlight-color: rgba(255,255,255,0);
/* Older Androids need this instead */
  -webkit-tap-highlight-color: transparent;
/* Most devs find border-box easier to reason about. However by inheriting we can mix box-sizing approaches. */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*::before,
*::after {
  box-sizing: border-box;
}
input[type],
[contenteditable] {
  user-select: text;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
/* We will be adding our own margin to these elements as needed. */
  margin: 0;
/* You'll want to set font-size as needed. */
  font-size: 1rem;
/* No bold for h tags unless you want it */
  font-weight: 400;
}
base,
basefont,
datalist,
head,
meta,
script,
style,
title,
noembed,
param,
template {
  display: none;
}
a {
  text-decoration: none;
  color: inherit;
}
b {
  font-weight: 400;
}
em,
i,
address {
  font-style: normal;
}
button {
  appearance: none;
  background-color: transparent;
  border: 0;
  padding: 0;
  font-family: inherit;
}
a:focus,
button:focus {
  outline: 0;
}
pre {
  white-space: normal;
}
input,
fieldset {
  border: 0;
  padding: 0;
  margin: 0;
/* inputs and fieldset defaults to having a min-width equal to its content in Chrome and Firefox (https://code.google.com/p/chromium/issues/detail?id=560762), we may not want that */
  min-width: 0;
/* Reset the font size and family */
  font-size: 1rem;
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
input:focus {
  outline: 0;
}
input[type="number"] {
/* Mozilla shows the spinner UI on number inputs unless we use this: */
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
}
svg {
  display: block;
}
img {
/* Make images behave responsively. Here they will scale up to 100% of their natural size */
  max-width: 100%;
/* Make images display as a block (UA default is usually inline) */
  display: block;
}
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #1a1818;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  background-color: #fff;
  color: #626262;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}
.page-wrapper {
  position: relative;
  padding-bottom: 30px;
}
@media (max-width: 1024px) {
  .page-wrapper {
    padding: 0 20px 20px;
  }
}
.page-wrapper > * {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
}
.page-header {
  position: sticky;
  top: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  row-gap: 32px;
  background-color: #fff;
  z-index: 1;
}
@media (max-width: 568px) {
  .page-header {
    justify-content: center;
  }
}
.page-content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 25px;
  min-height: 80vh;
  padding: 24px 0;
}
@media (max-width: 568px) {
  .page-content {
    display: block;
  }
}
.page-footer {
  background-color: #cb0d1f;
  height: 176px;
}
nav-categories > .list .item {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: all 300ms ease-in-out;
}
nav-categories :not(:defined) > .list .item {
  opacity: 0;
  visibility: hidden;
  transform: scale(0);
}
button,
.btn {
  cursor: pointer;
}
.text,
p,
span {
  color: #1a1818;
  font-family: inherit;
}
.title {
  margin-block-end: 0.5rem;
  color: #1a1818;
  font-size: 26px;
}
.page-title {
  border-bottom: 1px solid #e2dedc;
  color: #ed1a39;
  font-size: 32px;
}
@media (max-width: 568px) {
  .page-title {
    margin-bottom: 12px;
  }
}
.account {
  position: relative;
  flex: 1 0 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: right;
  z-index: 1;
}
@media (max-width: 568px) {
  .account {
    text-align: center;
    order: -1;
  }
}
.account::after {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100vw;
  height: 100%;
  background-color: #231f20;
  transform: translateX(-50%);
  content: '';
  z-index: -1;
}
.account-box {
  align-items: baseline;
  color: #fff;
  font-size: 14px;
  gap: 0 5px;
}
.account > .account-box {
  display: inline-flex;
}
.account-box > .link {
  text-decoration: underline;
}
@media (max-width: 568px) {
  .logo {
    margin: 0 auto;
  }
}
.page-header > .search {
  flex: 0 1 40%;
}
@media (max-width: 768px) {
  .page-header > .search {
    flex: 1 auto;
    margin-right: 1rem;
  }
}
@media (max-width: 568px) {
  .page-header > .search {
    display: none;
  }
}
.form-search {
  display: flex;
}
.form-search > .input {
  width: 100%;
  padding: 0 0.8rem;
  border: 1px solid #959595;
}
.form-search > .btn-search {
  padding: 0 22px;
  height: 44px;
  background-color: #cb0d1f;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}
nav-categories {
  position: relative;
  height: 54px;
}
nav-categories::after {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100vw;
  height: 100%;
  background-color: #cb0d1f;
  transform: translateX(-50%);
  content: '';
  z-index: -1;
}
.page-header > nav-categories {
  flex: 1 0 100%;
}
@media (max-width: 568px) {
  .page-header > nav-categories {
    flex: 0;
    order: -1;
  }
  .page-header > nav-categories::before {
    content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAABmJLR0QA/wD/AP+gvaeTAAAAeklEQVRoge3WOwqAMBBF0auloK3Ls3FX2rg8WwXbWNgJohLiB+6B6YZkwqR4IEmS3pNd6KmABigSz7K3AAMwxR7UA+Gl6s6Gy2Nfl1g4a7jyhUqgBeroce4Z2bY/P3yvJOlHzEKJyywEZiFJ0oeZhRKXWQjMQpIk6dAK8bhyVZq4QQsAAAAASUVORK5CYII=");
  }
  .page-header > nav-categories::after {
    display: none;
  }
}
.breadcrumb {
  padding-top: 24px;
}
.breadcrumb > .list {
  display: flex;
  align-items: center;
  font-size: 14px;
}
.breadcrumb .item.separator {
  padding: 0 4px;
}
.breadcrumb .item.separator .text {
  color: inherit;
}
.breadcrumb-text {
  color: #cb0d1f;
}
.breadcrumb-link {
  color: #00a8a9;
}
.banner {
  width: 100%;
  height: 100%;
  background-color: #acacac;
}
.sidebar {
  grid-row: 1/3;
  padding: 20px 1rem;
  background-color: #e2dedc;
}
.cms-category .sidebar {
  background-color: #fff;
  border: 1px solid #e2dedc;
}
@media (max-width: 568px) {
  .cms-category .sidebar {
    margin-bottom: 20px;
  }
}
.content {
  grid-column: 2/3;
}
.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 2vw;
}
@media (max-width: 568px) {
  .toolbar {
    margin-bottom: 50px;
  }
}
.toolbar > .modes {
  display: flex;
  align-items: center;
}
@media (max-width: 568px) {
  .toolbar > .modes {
    display: none;
  }
}
.toolbar > .modes .btn {
  color: #cb0d1f;
}
.toolbar > .modes .ico {
  color: inherit;
}
.toolbar > .modes .ico-grid {
  width: 20px;
  height: 20px;
}
.toolbar > .modes .ico-list {
  width: 40px;
  height: 40px;
}
.list .toolbar .btn-grid,
.grid .toolbar .btn-list {
  color: #00a8a9;
}
.grid .toolbar .btn-grid,
.list .toolbar .btn-list {
  cursor: default;
}
