.breadcrumb 
  padding-top 24px
  > .list
    display flex
    align-items center
    font-size 14px
  .item.separator
    padding 0 4px
    .text
      color inherit
  &-text
    color primary
  &-link 
    color secundary

