.sidebar
  flex: 0 1 30%
  padding 1rem 1.75rem
  background-color theme-color( light-background-secondary,  dark-background-third);
  @media (max-width: 568px){
    margin-bottom: 20px
  }

.content
  flex 1 1 auto
  padding: 1rem 1.75rem
  background-color theme-color( light-background-secondary,  dark-background-third);

.toolbar 
  display: flex
  justify-content space-between
  align-items: center
  gap 0 2vw
  @media (max-width: 568px){
    margin-bottom: 50px
  }
  > .modes
    display: flex
    align-items: center
    @media (max-width: 568px){
      display none
    }
    .btn
      color: primary
    .ico
      color: inherit
    .ico-grid
      width: 20px
      height: 20px
    .ico-list
      width: 40px
      height: 40px
  .list & .btn-grid,
  .grid & .btn-list
    color: secondary
  .grid & .btn-grid,
  .list & .btn-list
    cursor: default