// Logo
.logo
  @media (max-width: 568px){
    margin 0 auto
  }

// Search
.search
  .page-header > &
    @media(max-width: 768px){
      flex: 1 auto
      margin-left: 1rem
    }
    @media(max-width: 568px){
      display none
    }

.form-search
  position relative
  display flex
  > .input
    width 100%
    height: 30px
    padding 0 .8rem
    background-color theme-color( light-background-third,  dark-background-primary);
    border none
    border-radius 30px
    color theme-color( primary,  secondary);
    transition: all 200ms ease
  > .btn-search
    position: absolute
    right: 7px
    top: 4px
    img
      width 25px

// Toggle Button
bt-filter = brightness(0.5) grayscale(1)

.toggle-theme
  flex-center()
  > .btn-togglemode
    filter filter-toggle(bt-filter)
    transition filter 200ms ease
    // .theme-dark &
    //   filter: filter-toggle() //brightness(0.5) grayscale(1)
    img 
      width: 33px

// Categories
.navigation
  margin-left: auto
  .page-header > &
    @media (max-width:568px){
      flex 0
      order: -1
    }
  > .list
    display: flex
    align-items: center
    gap 0 30px
    color theme-color( light-text,  dark-text);
    font-weight: 700
  .item:hover > a
      color theme-color( primary,  secondary);
