// Account
.account
  position relative
  flex 1 0 100%
  padding-top 5px
  padding-bottom 5px
  text-align right
  z-index 1
  @media (max-width:568px){
    text-align: center
    order -1
  }
  &::after
    bg-full(#231F20)
    content ''
    z-index -1

.account-box
  align-items baseline
  color brightness
  font-size 14px
  gap 0 5px
  .account > &
    display inline-flex
  > .link
    text-decoration underline

// Logo
.logo
  @media (max-width: 568px){
    margin 0 auto
  }

// Search
.search
  .page-header > &
    flex 0 1 40%
    @media(max-width: 768px){
      flex: 1 auto
      margin-left: 1rem
    }
    @media(max-width: 568px){
      display none
    }

.form-search
  display flex
  > .input
    width 100%
    padding 0 .8rem
    border 1px solid dark-snow
  > .btn-search
    padding 0 22px
    height 44px
    background-color primary
    color brightness
    font-weight bold
    text-transform uppercase

// Categories
nav-categories
  position relative
  height 54px
  &::after
    bg-full(primary)
    content ''
    z-index -1
    
  .page-header > &
    flex 1 0 100%
    @media (max-width:568px){
      flex 0
      order: -1
      &::before {
        content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAABmJLR0QA/wD/AP+gvaeTAAAAeklEQVRoge3WOwqAMBBF0auloK3Ls3FX2rg8WwXbWNgJohLiB+6B6YZkwqR4IEmS3pNd6KmABigSz7K3AAMwxR7UA+Gl6s6Gy2Nfl1g4a7jyhUqgBeroce4Z2bY/P3yvJOlHzEKJyywEZiFJ0oeZhRKXWQjMQpIk6dAK8bhyVZq4QQsAAAAASUVORK5CYII=")
      }
      &::after{
        display none
      }
    }
