max-container()
  max-width 1240px
  margin-left auto
  margin-right auto

flex-center()
  display: flex
  align-items: center
  justify-content: center

bg-full(bg)
  position absolute
  top 0
  left 50%
  width 100vw
  height 100%
  background-color bg
  transform translateX(-50%)

theme-color(l-theme,d-theme)
  return var(--light, l-theme) var(--dark, d-theme)

theme-weight(l-weight,d-weight)
  return var(--light, l-weight) var(--dark, d-weight)

filter-toggle(flt)
  return var(--light, none) var(--dark, flt)