html,
body
  width 100%
  height 100%
  background-color bg
  color darker-snow
  font-family 'Open Sans', sans-serif
  font-size 16px
  overflow-x hidden

.page-wrapper
  position relative
  padding-bottom 30px
  @media (max-width: 1024px)
    padding 0 20px 20px
  > * 
    max-container()

.page-header
  position sticky
  top 0
  display flex
  flex-flow row wrap
  justify-content space-between
  row-gap 32px
  background-color brightness
  z-index: 1
  @media (max-width: 568px){
    justify-content: center
  }

.page-content
  display grid
  grid-template-columns 1fr 2fr
  grid-template-rows repeat(2,1fr)
  gap 25px
  min-height 80vh
  padding 24px 0
  @media (max-width: 568px){
    display: block
  }

.page-footer
  bg-primary()
  height 176px

nav-categories
  > .list .item 
    opacity 1
    visibility visible
    transform scale(1)
    transition all 300ms ease-in-out
  :not(:defined)
    > .list .item
      opacity 0
      visibility hidden
      transform scale(0)

button, 
.btn
  cursor: pointer

.text,
p, span
  color darkness
  font-family inherit

.title
  margin-block-end .5rem
  color darkness
  font-size 26px

.page-title 
  border-bottom 1px solid snow
  color primary-light
  font-size 32px
  @media (max-width: 568px){
    margin-bottom 12px
  }